<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
   <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
   <add name="EventsConnectionString" connectionString="Data Source=FCL;Initial Catalog=BegCSharpEvents;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
	<system.web>
  <authorization>
   <deny users="?" />
  </authorization>
  <compilation debug="true" targetFramework="4.0" />
		<authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
		<membership>
			<providers>
				<clear />
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
			</providers>
		</membership>
    
    <!--允许匿名用户访问个性化配置-->
    <anonymousIdentification enabled="true" />
    
		<profile>
			<providers>
				<clear />
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
			</providers>

      <!--用于创建个性化配置的项,这些属性都是强类型化的，在Web页面的C#文件中可使用Profile动态属性调用-->
      <properties>
        <add name="Country" allowAnonymous="true" />  <!--默认为String类型-->
        <add name="Visits" type="System.Int32" defaultValue="0" />
        <add name="LastVisit" type="System.DateTime" />

        <group name="EventSelection">
          <add name="Country" />
        </group>
      </properties>
      
		</profile>
		<roleManager>
   <providers>
    <clear />
    <add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
    <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
   </providers>
  </roleManager>
  
    <!--为站点导航的配置文件指定名称-->
    <siteMap>
     <providers>
       <add name="web1sitemap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Web.sitemap" />
       <add name="web2sitemap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Web_test.sitemap" />
     </providers>
    </siteMap>
    
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
        <directoryBrowse enabled="false" />
	</system.webServer>
</configuration>
