<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GettingData.Properties.Settings.StudyADONETConnectionString"
            connectionString="Data Source=FCL;Initial Catalog=StudyADONET;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>