<?xml version="1.0"?>
<configuration>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <!--数据库连接配置-->
  <appSettings>
    <add key="ConnectionString" value="9B409EB6B302DBD4408F9ED03FB79F07BB173551C2C5A0D8F779747298C9547954585C226F9797AD9C3A557DC9FF74F7045366799F27D8D8FF8C3A4A80E5AD4A" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ConStringEncrypt" value="true"/>
  </appSettings>
</configuration>
